<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- base_content.html -->

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Filter for packets containing &quot;If-Modified-Since&quot; - Wireshark Q&amp;A</title>
        <meta name="description" content="I am trying to figure out a display filter to find any packets containing &quot;If-Modified-Since&quot; indicating they have the element they are looking for in cache. I did a right-click, Aplly as Filter, Selected, but this is ineffective since it applies a very long filter looking for the If-Modified-Since ..." />
        <meta name="keywords" content="http,display-filter" />
        
        <link rel="canonical" href="https://osqa-ask.wireshark.org/questions/26723/filter-for-packets-containing-if-modified-since" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/questions/26723/filter-for-packets-containing-if-modified-since?type=rss">


        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <meta name="google-site-verification" content="dqzpAlfsUDYClyC-7mNVrF11yfwuCZ0-uF7C4HApzkU" />
        
        <link rel="shortcut icon" href="/upfiles/favicon-ask_1.ico" />
        <link href="/m/default/media/style/style.css" rel="stylesheet" type="text/css" />
        
        <link href="/cstyle.css" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" />
        <!--[if IE 6]>
        <style type="text/css">
        img, div, a { behavior: url(/m/default/media/iepngfix/iepngfix.htc) }
        </style>
        <![endif]-->
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
        
        <script type="text/javascript">
        /*<![CDATA[*/
            
            

            var i18nLang = 'en';
            var appUrl = 'https://osqa-ask.wireshark.org'
            var scriptUrl = '/'
            var osqaSkin = 'default';

            var messages = {
                username: '',
                confirm: "Are you sure?",
                yes: "Yes",
                no: "No",
                message: "Message:",
                cancel: "Cancel",
                close: "Close",
                ok: "Ok",
                matching_tags_url: "/matching_tags/",
                word: "word",
                words: "words",
                character: "character",
                characters: "characters"
            }
        /*]]>*/
        </script>
        <script type="text/javascript" src="/m/default/media/js/osqa.main.js"></script>
        
        <style type="text/css">
            body { margin-top:2.4em; }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                var element = $('#validate_email_alert');
                element.click(function(){notify.close(true);})
                notify.show();
            });
        </script>
        
        
            <META name="y_key" content="af3ab95b28a8b14e">
<meta name="msvalidate.01" content="9EAF899765C0DD43A19EEF6EAFFA6A77" />
        
        
        
        <script type='text/javascript' src='/m/default/media/js/osqa.question.js'></script>
        <script type='text/javascript' src='/m/default/media/js/jquery.caret.js'></script>
        <script type='text/javascript' src='/m/default/media/js/wmd/showdown.js'></script>
        <script type='text/javascript' src='/m/default/media/js/wmd/wmd.js'></script>
        <script type='text/javascript' src='/m/default/media/js/html_sanitizer.js'></script>
        <link rel="stylesheet" type="text/css" href="/m/default/media/js/wmd/wmd.css" />

        
        <script type='text/javascript' src='/m/default/media/js/viewbox_min.js'></script>
        <script type='text/javascript' src='/m/default/media/js/youtube.js'></script>
        <link rel="stylesheet" type="text/css" href="/m/default/media/js/viewbox.css" />
        
        

        <script type="text/javascript">
        $().ready(function(){
            $("#nav_questions").attr('className',"on");
            var answer_sort_tab = "";

            if (answer_sort_tab) {
                $("#" + answer_sort_tab).attr('className',"on");
            }

            $('#editor').TextAreaResizer();

            //toggle preview of editor
            var display = true;
            var txt = "[hide preview]";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "[show preview]" : "[hide preview]";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });
        });

        function submitClicked(e, f) {
            if(!(browserTester('chrome') || browserTester('safari'))) {
                $("input.submit")[0].disabled=true;
            }
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                f.submit();
            }
        }

        function beforeUnload(e) {

            if($("textarea#editor")[0].value != "") {
                return yourWorkWillBeLost(e);
            }

            var commentBoxes = $("textarea.commentBox");
            for(var index = 0; index < commentBoxes.length; index++) {
                if(commentBoxes[index].value != "") {
                    return yourWorkWillBeLost(e);
                }
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);
        </script>
        <noscript>
            <style>
                .comment.not_top_scorer {
                    display: block;
                }
                .comment-form-container {
                    display: block;
                }
                .div.comment-tools {
                    display: none;
                }
            </style>
        </noscript>

        <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Wireshark Q&amp;A Search" />
        
    </head>
    <body>
        <div class="wrapper">
        
        <!-- template header.html -->


	<div id="roof">
	  
		<div id="logo">
			<a href="/">
				<img src="/upfiles/wsbadge@186x57.png" title="back to home page" alt="Wireshark Q&amp;A logo"/>
			</a>
		</div>
	  
		<div id="top">
		     <a href="/account/signin/" >login</a>  <a href="/about/" >about</a>  <a href="/faq/" >faq</a> 
		</div>

    <div id="nav">
        <a id="nav_questions" class="on" href="/questions/" >questions</a><a id="nav_tags" href="/tags/" >tags</a><a id="nav_users" href="/users/" >users</a><a id="nav_badges" href="/badges/" >badges</a><a id="nav_unanswered" href="/questions/unanswered/" >unanswered</a>
        
    </div>
  </div>

  <div class="clear"></div>
  
	<div id="searchBar">
    <form action="/search/" method="get">
        <input type='hidden' name='csrfmiddlewaretoken' value='k1SyXwJWwOE8WVESYq1VPMAAikCkmuUM' />
        <div>
            <input type="text" class="searchInput" value="" name="q" id="keywords" />
            <input type="submit" name="Submit" value="search" class="searchBtn" />
        </div>
        <div class="options">
            <input id="type-question" type="radio" value="question" name="t" 
                checked="checked" /><label for="type-question">questions</label>
            <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">tags</label>
            <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">users</label>
        </div>
    </form>	
	</div>

	
  <div id="announcement">
      <div style="padding: 1em; margin-top: 5px; border-radius: 5px; border: 1px solid rgb(107, 43, 40); background: rgb(243, 227, 225);">
This is our old Q&amp;A Site. Please post any new questions and answers at <a href="https://ask.wireshark.org/">ask.wireshark.org</a>.
</div>
  </div>
  

<!-- end template header.html -->

        



<div id="wrapper">
    
    
    <div id="room">
        <div id="CALeft">
            
<div class="headNormal">
    <h1><a href="/questions/26723/filter-for-packets-containing-if-modified-since">Filter for packets containing &quot;If-Modified-Since&quot;</a></h1>
</div>
<div id="main-body" class="">
    <div id="askform">
            <table style="width:100%;" id="question-table" >
                <tr>
                    <td style="width:30px;vertical-align:top">
                        <div class="vote-buttons">
                            

<a id="post-26723-upvote" title="I like this post (click again to cancel)"
    class="ajax-command post-vote up "
     href="/vote/26723/up/" rel="nofollow"> </a>
<div id="post-26723-score" class="post-score"
    title="current number of votes">
    0
</div>
<a id="post-26723-downvote" title="I dont like this post (click again to cancel)"
    class="ajax-command post-vote down"
     href="/vote/26723/down/" rel="nofollow"> </a>

                            

<a id="favorite-mark" title="mark/unmark this question as favorite (click again to cancel)"
    class="ajax-command favorite-mark "
    href="/mark_favorite/26723/" rel="nofollow"> </a>
<div id="favorite-count" class="favorite-count">
   
</div>

                        </div>
                    </td>
                    <td>
                        <div id="item-right">
                            <div class="question-body">
                                <p>I am trying to figure out a display filter to find any packets containing "If-Modified-Since" indicating they have the element they are looking for in cache.  I did a right-click, Aplly as Filter, Selected, but this is ineffective since it applies a <em>very</em> long filter looking for the If-Modified-Since and the full time-stamp.  An example looks like:</p>
<pre><code>frame[804:50] == 49:66:2d:4d:6f:64:69:66:69:65:64:2d:53:69:6e:63:65:3a:20:54:75:65:2c:20:30:34:20:41:75:67:20:32:30:30:39:20:32:31:3a:32:33:3a:30:39:20:47:4d:54:0d:0a
</code></pre>
<p>Other display filters I have tried:</p>
<p>data contains "If-Modified-Since"</p>
<p>data matches "If-Modified-Since"</p>
<p>data-text-lines matches "If-Modified-Since"</p>
<p>data-text-lines contains "If-Modified-Since"</p>
<p>And I have experimented with the "text" display filter (which I cannot find in the Display Filter Reference or in the expressions window).</p>
<p>I'm stumped.  Anybody have an idea how to find If-Modified-Since in any packet that contains it?</p>
<p>Thanks in advance...</p>
                            </div>
                            <div id="question-tags" class="tags-container tags">
                                
                                    <a href="/tags/http/" class="post-tag tag-link-http"
                                        title="see questions tagged 'http'" rel="tag">http</a>
                                
                                    <a href="/tags/display-filter/" class="post-tag tag-link-display-filter"
                                        title="see questions tagged 'display-filter'" rel="tag">display-filter</a>
                                
                            </div>
                            <div id="question-controls" class="post-controls">
                                

                                

                            </div>
                            <div class="post-update-info-container">
                                    
<div class='post-update-info post-update-info-user'>
    <p style="line-height:12px;">
        asked
        <strong>07 Nov '13, 08:45</strong>
    </p>
    <img class="gravatar" width="32" height="32" src="https://secure.gravatar.com/avatar/eb859ad26d92eb0902b45ba20a167917?s=32&amp;d=identicon&amp;r=g" alt="kpalmgren's gravatar image" />
    <p><a href="/users/931/kpalmgren">kpalmgren</a><br/>
    <span class="score" title="1 reputation points">1</span><span title="4 badges"><span class="badge1">&#9679;</span><span class="badgecount">4</span></span><span title="4 badges"><span class="silver">&#9679;</span><span class="badgecount">4</span></span><span title="6 badges"><span class="bronze">&#9679;</span><span class="badgecount">6</span></span><br />
    
    <span title="Rate of the user's accepted answers" class="accept_rate">accept rate:</span>
    <span title="kpalmgren has no accepted answers">0&#37;</span>
    </p>
</div>


                            </div>
                            




<div class="comments-container" id="comments-container-26723">
    
</div>
<div id="comment-tools-26723" class="comment-tools">
    
    
</div>




<div class="clear"></div>
<div id="comment-26723-form-container" class="comment-form-container">
    
</div>
<div class="clear"></div>



                        </div>

                    </td>
                </tr>
            </table>
            
            
                <hr/>
                <div class="tabBar">
                    <a name="sort-top"></a>
                    <div class="headQuestions">
                    One Answer:
                    </div>
                    
<div class="tabsA"><a href="/questions/26723/filter-for-packets-containing-if-modified-since?sort=active" title="most recently updated answers/comments will be shown first">active answers</a><a href="/questions/26723/filter-for-packets-containing-if-modified-since?sort=oldest" title="oldest answers will be shown first">oldest answers</a><a href="/questions/26723/filter-for-packets-containing-if-modified-since?sort=newest" title="newest answers will be shown first">newest answers</a><a href="/questions/26723/filter-for-packets-containing-if-modified-since?sort=votes" class="on" title="most voted answers will be shown first">popular answers</a></div>

                </div>
                

                
                    <a name="26728"></a>
                    <div id="answer-container-26728" class="answer accepted-answer">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:30px;vertical-align:top">
                                    <div class="vote-buttons">
                                        

<a id="post-26728-upvote" title="I like this post (click again to cancel)"
    class="ajax-command post-vote up "
     href="/vote/26728/up/" rel="nofollow"> </a>
<div id="post-26728-score" class="post-score"
    title="current number of votes">
    2
</div>
<a id="post-26728-downvote" title="I dont like this post (click again to cancel)"
    class="ajax-command post-vote down"
     href="/vote/26728/down/" rel="nofollow"> </a>

                                        


    
      <a class="accept-answer on"
        title="Kurt Knochner has selected this answer as the correct answer"
        href="/accept_answer/26728/" rel="nofollow">
      </a>
    



                                    </div>
                                </td>
                                <td>
                                    <div class="item-right">
                                        <div class="answer-body">
                                            <p>http matches "If-Modified-Since"</p>
                                        </div>
                                        <div class="answer-controls post-controls">
                                            
<span class="action-link"><a rel="nofollow" title="answer permanent link" class="ajax-command withprompt  copy" href="/answer_link/26728/">permanent link</a></span>
                                            

                                        </div>
                                        <div class="post-update-info-container">
                                            
<div class='post-update-info post-update-info-user'>
    <p style="line-height:12px;">
        answered
        <strong>07 Nov '13, 11:24</strong>
    </p>
    <img class="gravatar" width="32" height="32" src="https://secure.gravatar.com/avatar/071fe61f64868d98bdf4eb060b63b6ca?s=32&amp;d=identicon&amp;r=g" alt="Jim%20Aragon's gravatar image" />
    <p><a href="/users/527/jim-aragon">Jim Aragon</a><br/>
    <span class="score" title="7187 reputation points"><span class="">7.2k</span></span><span title="7 badges"><span class="badge1">&#9679;</span><span class="badgecount">7</span></span><span title="33 badges"><span class="silver">&#9679;</span><span class="badgecount">33</span></span><span title="118 badges"><span class="bronze">&#9679;</span><span class="badgecount">118</span></span><br />
    
    <span title="Rate of the user's accepted answers" class="accept_rate">accept rate:</span>
    <span title="Jim Aragon has 70 accepted answers">24&#37;</span>
    </p>
</div>


                                        </div>
                                        




<div class="comments-container" id="comments-container-26728">
    
        <a name="26729"></a>
        <div class="comment" id="comment-26729">
            <div id="post-26729-score" class="comment-score"></div>
            <div class="comment-text"><p>Excellent!  Thank you.</p></div>
            <div class="comment-info" id="comment-26729-info">
                
                
                
                

                

                <span class="comment-age">(07 Nov '13, 11:32)</span>
                <a class="comment-user userinfo" href="/users/931/kpalmgren">kpalmgren</a>
                
            </div>
        </div>
    
</div>
<div id="comment-tools-26728" class="comment-tools">
    
    
</div>




<div class="clear"></div>
<div id="comment-26728-form-container" class="comment-form-container">
    
</div>
<div class="clear"></div>



                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                
                <div class="paginator-container-left">
                    
                </div>
            
        <form id="fmanswer" action="/questions/26723/answer/" method="post">
            <input type='hidden' name='csrfmiddlewaretoken' value='k1SyXwJWwOE8WVESYq1VPMAAikCkmuUM' />
            <div style="clear:both">
            </div>

            
                <div style="padding:10px 0 0 0;">
                    <div class="headNormal">
                        
                            Your answer
                        
                    </div>
                </div>
                

                <div id="description" class="" >
                    <div id="wmd-button-bar" class="wmd-panel"></div>
                    <textarea cols="40" id="editor" name="text" rows="10"></textarea>
                    <div class="preview-toggle">
                        <table width="100%">
                            <tr>
                                <td>
                                    <span id="pre-collapse" 
                                        title="Toggle the real time Markdown editor preview">
                                            toggle preview
                                    </span>
                                </td>
                                <td style="text-align: right;" id="editor-metrics"></td>
                                
                                <td style="text-align:right;">
                                    <input id="id_wiki" name="wiki" type="checkbox" /> 
                                    <span style="font-weight:normal;cursor:help" 
                                        title="if you choose community wiki option, the question and answer do not generate points and name of author will not be shown">
                                            <label for="id_wiki">community wiki:</label> 
                                    </span>
                                </td>
                                
                            </tr>

                        </table>
                    </div>
                    
                    <div id="previewer" class="wmd-preview"></div>
                </div>

                

                <p><span class="form-error"></span></p>
                <input type="button"
                    
                        value="Login/Signup to Post Your Answer" 
                    
                    class="submit" style="float:left" onclick="submitClicked(event, this.form)"/>
            
        </form>
    </div>
</div>


        </div>
        <div id="CARight">
            
<div class="boxC" id="subscription_box">
    <h3 class="subtitle">Follow this question</h3><strong>By Email:</strong><p>Once you sign in you will be able to subscribe for any updates here</p><strong>By RSS:</strong><p><a class="feed-icon" style="background-image:url('/m/default/media/images/feed-icon-small.png');"
        href="/questions/26723/filter-for-packets-containing-if-modified-since?type=rss" title="subscribe to answers"></a>
    Answers
</p><p><a class="feed-icon" style="background-image:url('/m/default/media/images/feed-icon-small.png');"
        href="/questions/26723/filter-for-packets-containing-if-modified-since?type=rss&comments=yes" title="subscribe to comments and answers"></a>
    Answers and Comments
</p>

</div>


<div class="boxC" id="editor_side_bar">
    <p class="subtitle darkred">Markdown Basics</p>
    <ul class="list-item">
        <li>
            *italic* or _italic_
        </li>
        <li>
			**bold** or __bold__
        </li>
        <li>
            <b>link</b>:[text](http://url.com/ "title")

        </li>

        <li>
            <b>image</b>?![alt text](/path/img.jpg "title")

        </li>
        <li>
			numbered list:
            1.  Foo
            2.  Bar
        </li>
        <li>
			to add a line break simply add two spaces to where you would like the new line to be.
        </li>
        <li>
			basic HTML tags are also supported
        </li>
    </ul>
    <p class='info-box-follow-up-links'>
        <a href="/markdown_help/" target="_blank">learn more about Markdown </a>
    </p>
</div>



<div id="sidebar-upper" class="boxC">
    <div class="body">
        <h2>You have a trillion packets.</h2>
<h3>You need to see four of them.</h3>
<p><a href="http://www.riverbed.com/products-solutions/products/network-performance-management/">Riverbed Technology</a> lets you seamlessly move between packets and flows for comprehensive monitoring, analysis and troubleshooting.</p>
<p><a href="http://www.riverbed.com/us/products/cascade/wireshark_enhancements/"><img style="margin-left: 39px;" src="https://www.wireshark.org/image/logo_riverbed_150.png"></a></p>
<p>Riverbed is Wireshark's primary sponsor and provides our funding.</p>
     </div>
</div>




<div class="boxC">
    <p>
        Question tags:
    </p>
    <p class="tags" >
        
        <a href="/tags/http/"
            class="tag-link-http"
            title="see questions tagged'http'using tags"
            rel="tag">http</a> <span class="tag-number">&#215;293</span><br/>
        
        <a href="/tags/display-filter/"
            class="tag-link-display-filter"
            title="see questions tagged'display-filter'using tags"
            rel="tag">display-filter</a> <span class="tag-number">&#215;165</span><br/>
        
    </p>
    <p>
        question asked: <strong title="Nov. 7, 2013, 8:45 a.m.">07 Nov '13, 08:45</strong>
    </p>
    <p> 
     	question was seen: <strong>11,499 times</strong>
    </p>
    <p> 
        last updated: <strong title="Nov. 7, 2013, 11:32 a.m.">07 Nov '13, 11:32</strong>
    </p>
</div>


<div id="sidebar-lower" class="boxC">
    <div class="body">
        <h2>Don't have Wireshark?</h2>
<p>What are you waiting for? It's free! Wireshark documentation and downloads can be found at the <a href="https://www.wireshark.org/"><strong>Wireshark web site</strong></a>.</p>
     </div>
</div>


<div class="boxC">
    <h3 class="subtitle">Related questions</h3>
    <div class="questions-related">

        
        <p>
            <a href="/questions/37296/tshark-not-displaying-http-traffic-fully">tshark not displaying http traffic fully</a>
        </p>
        
        <p>
            <a href="/questions/6270/how-to-create-a-filter-for-a-particular-field">How to create a filter for a particular field?</a>
        </p>
        
        <p>
            <a href="/questions/13408/tshark-capture-and-display-filters-for-httphttps">TShark: Capture and Display Filters for HTTP/HTTPS</a>
        </p>
        
        <p>
            <a href="/questions/49245/how-to-log-https-headers">How to log https headers</a>
        </p>
        
        <p>
            <a href="/questions/30722/how-to-filter-http-protocol-version">How to filter http protocol version?</a>
        </p>
        
        <p>
            <a href="/questions/41/use-a-display-filter-as-a-stop-condition">Use a display filter as a stop condition</a>
        </p>
        
        <p>
            <a href="/questions/5291/feature-request-previous-display-filter">Feature request - &quot;previous display filter&quot;?</a>
        </p>
        
        <p>
            <a href="/questions/10747/any-way-to-use-frametime_delta_displayed-in-a-filter">Any way to use frame.time_delta_displayed in a filter?</a>
        </p>
        
        <p>
            <a href="/questions/19352/mac-address-display-filter-not-displaying-any-packets">MAC address display filter not displaying any packets</a>
        </p>
        
        <p>
            <a href="/questions/25645/what-is-the-capture-filter-equivalent-of-the-display-filter-ipfrag_offset-0">What is the capture filter equivalent of the display filter &quot;ip.frag_offset != 0&quot;</a>
        </p>
        

    </div>
</div>



        </div>
        <div id="tail" style="clear:both;">
            
            
        </div>
    </div>
    <div class="spacer3"></div>
</div>

        
            <div id="ground">
                


<div>
    <div class="footerLinks" >
         <a href="/about/" >about</a> <span class="link-separator"> |</span> <a href="/faq/" >faq</a> <span class="link-separator"> |</span> <a href="/privacy/" >privacy</a> <span class="link-separator"> |</span> <a href="https://bugs.wireshark.org/" target="_blank">support</a> <span class="link-separator"> |</span> <a href="https://bugs.wireshark.org/" >contact</a> 
    </div>
  <p>
        p&#8203;o&#8203;w&#8203;e&#8203;r&#8203;e&#8203;d by &#79;&#8203;&#83;&#8203;&#81;&#8203;&#65;
  </p>
</div>
 <div id="licenseLogo">
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
            <img src="/m/default/media/images/by-sa-88x31.png" title="Creative Commons: Attribution - Share Alike" alt="cc-by-sa" width="88" height="31" />
  </a>
 </div>


            </div>
        
        

        
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-605389-6']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        
        </div>

        <!-- Put all elements with fixed position here, IE6 fixed position fix: http://ryanfait.com/position-fixed-ie6/ -->
        <div class="notify" style="display:none">
            
                
                    
                          <p class="darkred">First time here? Check out the <a href="/faq/">FAQ</a>!</p>
                    
                
            
            <a id="close-notify" onclick="notify.close(true)">&#215;</a>
        </div>
    </body>
</html>
<!-- end template base_content.html -->
