<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- base_content.html -->

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Warning click over display filters? What is solution? - Wireshark Q&amp;A</title>
        <meta name="description" content="When I click on any display filters in the display-filter textbox, this warning happens: (lt-wireshark:4477): GLib-GObject-WARNING **: /build/buildd/glib2.0-2.24.1/gobj ct/gsignal.c:3079: signal name `depressed&#39; is invalid for instance `0x8e39408&#39;  What is the solution? Thanks." />
        <meta name="keywords" content="warning,ubuntu" />
        
        <link rel="canonical" href="https://osqa-ask.wireshark.org/questions/5405/warning-click-over-display-filters-what-is-solution" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/questions/5405/warning-click-over-display-filters-what-is-solution?type=rss">


        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <meta name="google-site-verification" content="dqzpAlfsUDYClyC-7mNVrF11yfwuCZ0-uF7C4HApzkU" />
        
        <link rel="shortcut icon" href="/upfiles/favicon-ask_1.ico" />
        <link href="/m/default/media/style/style.css" rel="stylesheet" type="text/css" />
        
        <link href="/cstyle.css" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" />
        <!--[if IE 6]>
        <style type="text/css">
        img, div, a { behavior: url(/m/default/media/iepngfix/iepngfix.htc) }
        </style>
        <![endif]-->
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
        
        <script type="text/javascript">
        /*<![CDATA[*/
            
            

            var i18nLang = 'en';
            var appUrl = 'https://osqa-ask.wireshark.org'
            var scriptUrl = '/'
            var osqaSkin = 'default';

            var messages = {
                username: '',
                confirm: "Are you sure?",
                yes: "Yes",
                no: "No",
                message: "Message:",
                cancel: "Cancel",
                close: "Close",
                ok: "Ok",
                matching_tags_url: "/matching_tags/",
                word: "word",
                words: "words",
                character: "character",
                characters: "characters"
            }
        /*]]>*/
        </script>
        <script type="text/javascript" src="/m/default/media/js/osqa.main.js"></script>
        
        <style type="text/css">
            body { margin-top:2.4em; }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                var element = $('#validate_email_alert');
                element.click(function(){notify.close(true);})
                notify.show();
            });
        </script>
        
        
            <META name="y_key" content="af3ab95b28a8b14e">
<meta name="msvalidate.01" content="9EAF899765C0DD43A19EEF6EAFFA6A77" />
        
        
        
        <script type='text/javascript' src='/m/default/media/js/osqa.question.js'></script>
        <script type='text/javascript' src='/m/default/media/js/jquery.caret.js'></script>
        <script type='text/javascript' src='/m/default/media/js/wmd/showdown.js'></script>
        <script type='text/javascript' src='/m/default/media/js/wmd/wmd.js'></script>
        <script type='text/javascript' src='/m/default/media/js/html_sanitizer.js'></script>
        <link rel="stylesheet" type="text/css" href="/m/default/media/js/wmd/wmd.css" />

        
        <script type='text/javascript' src='/m/default/media/js/viewbox_min.js'></script>
        <script type='text/javascript' src='/m/default/media/js/youtube.js'></script>
        <link rel="stylesheet" type="text/css" href="/m/default/media/js/viewbox.css" />
        
        

        <script type="text/javascript">
        $().ready(function(){
            $("#nav_questions").attr('className',"on");
            var answer_sort_tab = "";

            if (answer_sort_tab) {
                $("#" + answer_sort_tab).attr('className',"on");
            }

            $('#editor').TextAreaResizer();

            //toggle preview of editor
            var display = true;
            var txt = "[hide preview]";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "[show preview]" : "[hide preview]";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });
        });

        function submitClicked(e, f) {
            if(!(browserTester('chrome') || browserTester('safari'))) {
                $("input.submit")[0].disabled=true;
            }
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                f.submit();
            }
        }

        function beforeUnload(e) {

            if($("textarea#editor")[0].value != "") {
                return yourWorkWillBeLost(e);
            }

            var commentBoxes = $("textarea.commentBox");
            for(var index = 0; index < commentBoxes.length; index++) {
                if(commentBoxes[index].value != "") {
                    return yourWorkWillBeLost(e);
                }
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);
        </script>
        <noscript>
            <style>
                .comment.not_top_scorer {
                    display: block;
                }
                .comment-form-container {
                    display: block;
                }
                .div.comment-tools {
                    display: none;
                }
            </style>
        </noscript>

        <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Wireshark Q&amp;A Search" />
        
    </head>
    <body>
        <div class="wrapper">
        
        <!-- template header.html -->


	<div id="roof">
	  
		<div id="logo">
			<a href="/">
				<img src="/upfiles/wsbadge@186x57.png" title="back to home page" alt="Wireshark Q&amp;A logo"/>
			</a>
		</div>
	  
		<div id="top">
		     <a href="/account/signin/" >login</a>  <a href="/about/" >about</a>  <a href="/faq/" >faq</a> 
		</div>

    <div id="nav">
        <a id="nav_questions" class="on" href="/questions/" >questions</a><a id="nav_tags" href="/tags/" >tags</a><a id="nav_users" href="/users/" >users</a><a id="nav_badges" href="/badges/" >badges</a><a id="nav_unanswered" href="/questions/unanswered/" >unanswered</a>
        
    </div>
  </div>

  <div class="clear"></div>
  
	<div id="searchBar">
    <form action="/search/" method="get">
        <input type='hidden' name='csrfmiddlewaretoken' value='iRSLzXSH7SpeIi0FcIsLeIfR5AieYrLA' />
        <div>
            <input type="text" class="searchInput" value="" name="q" id="keywords" />
            <input type="submit" name="Submit" value="search" class="searchBtn" />
        </div>
        <div class="options">
            <input id="type-question" type="radio" value="question" name="t" 
                checked="checked" /><label for="type-question">questions</label>
            <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">tags</label>
            <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">users</label>
        </div>
    </form>	
	</div>

	
  <div id="announcement">
      <div style="padding: 1em; margin-top: 5px; border-radius: 5px; border: 1px solid rgb(107, 43, 40); background: rgb(243, 227, 225);">
This is our old Q&amp;A Site. Please post any new questions and answers at <a href="https://ask.wireshark.org/">ask.wireshark.org</a>.
</div>
  </div>
  

<!-- end template header.html -->

        



<div id="wrapper">
    
    
    <div id="room">
        <div id="CALeft">
            
<div class="headNormal">
    <h1><a href="/questions/5405/warning-click-over-display-filters-what-is-solution">Warning click over display filters? What is solution?</a></h1>
</div>
<div id="main-body" class="">
    <div id="askform">
            <table style="width:100%;" id="question-table" >
                <tr>
                    <td style="width:30px;vertical-align:top">
                        <div class="vote-buttons">
                            

<a id="post-5405-upvote" title="I like this post (click again to cancel)"
    class="ajax-command post-vote up "
     href="/vote/5405/up/" rel="nofollow"> </a>
<div id="post-5405-score" class="post-score"
    title="current number of votes">
    0
</div>
<a id="post-5405-downvote" title="I dont like this post (click again to cancel)"
    class="ajax-command post-vote down"
     href="/vote/5405/down/" rel="nofollow"> </a>

                            

<a id="favorite-mark" title="mark/unmark this question as favorite (click again to cancel)"
    class="ajax-command favorite-mark "
    href="/mark_favorite/5405/" rel="nofollow"> </a>
<div id="favorite-count" class="favorite-count">
   
</div>

                        </div>
                    </td>
                    <td>
                        <div id="item-right">
                            <div class="question-body">
                                <p>When I click on any display filters in the display-filter textbox, this warning happens:</p>
<pre><code>(lt-wireshark:4477): GLib-GObject-WARNING **: /build/buildd/glib2.0-2.24.1/gobj
ct/gsignal.c:3079: signal name `depressed' is invalid for instance `0x8e39408'
</code></pre>
<p>What is the solution?</p>
<p>Thanks.</p>
                            </div>
                            <div id="question-tags" class="tags-container tags">
                                
                                    <a href="/tags/warning/" class="post-tag tag-link-warning"
                                        title="see questions tagged 'warning'" rel="tag">warning</a>
                                
                                    <a href="/tags/ubuntu/" class="post-tag tag-link-ubuntu"
                                        title="see questions tagged 'ubuntu'" rel="tag">ubuntu</a>
                                
                            </div>
                            <div id="question-controls" class="post-controls">
                                

                                

                            </div>
                            <div class="post-update-info-container">
                                    
<div class='post-update-info post-update-info-user'>
    <p style="line-height:12px;">
        asked
        <strong>02 Aug '11, 09:57</strong>
    </p>
    <img class="gravatar" width="32" height="32" src="https://secure.gravatar.com/avatar/5905f96c1d7b3e960e209fd33429dfa4?s=32&amp;d=identicon&amp;r=g" alt="Ignacio%20Rivera's gravatar image" />
    <p><a href="/users/1368/ignacio-rivera">Ignacio Rivera</a><br/>
    <span class="score" title="1 reputation points">1</span><span title="2 badges"><span class="badge1">&#9679;</span><span class="badgecount">2</span></span><span title="2 badges"><span class="silver">&#9679;</span><span class="badgecount">2</span></span><span title="3 badges"><span class="bronze">&#9679;</span><span class="badgecount">3</span></span><br />
    
    <span title="Rate of the user's accepted answers" class="accept_rate">accept rate:</span>
    <span title="Ignacio Rivera has no accepted answers">0&#37;</span>
    </p>
</div>

    <div class='post-update-info post-update-info-edited'>
        <p style="line-height:12px;">
            <a href="/revisions/5405/">
                edited
                <strong>05 Aug '11, 10:01</strong>
            </a>
        </p>
        
            <img class="gravatar" width="32" height="32" src="https://secure.gravatar.com/avatar/362ba1008ad9a075d1556d33e97dfed6?s=32&amp;d=identicon&amp;r=g" alt="helloworld's gravatar image" />
            <p><a href="/users/817/helloworld">helloworld</a><br/>
            <span class="score" title="3149 reputation points"><span class="">3.1k</span></span><span title="4 badges"><span class="badge1">&#9679;</span><span class="badgecount">4</span></span><span title="20 badges"><span class="silver">&#9679;</span><span class="badgecount">20</span></span><span title="41 badges"><span class="bronze">&#9679;</span><span class="badgecount">41</span></span></p>
        
    </div>


                            </div>
                            




<div class="comments-container" id="comments-container-5405">
    
        <a name="5407"></a>
        <div class="comment" id="comment-5407">
            <div id="post-5407-score" class="comment-score"></div>
            <div class="comment-text"><p>What do you mean by "click on ... display filters"?  Are you talking about the drop-down list of recent display filters to the right of the "Filter:" box at the top of the Wireshark window?</p></div>
            <div class="comment-info" id="comment-5407-info">
                
                
                
                

                

                <span class="comment-age">(02 Aug '11, 14:47)</span>
                <a class="comment-user userinfo" href="/users/79/guy-harris">Guy Harris ♦♦</a>
                
            </div>
        </div>
    
        <a name="5525"></a>
        <div class="comment" id="comment-5525">
            <div id="post-5525-score" class="comment-score"></div>
            <div class="comment-text"><p>Yes, I mean, excuse my English.</p></div>
            <div class="comment-info" id="comment-5525-info">
                
                
                
                

                

                <span class="comment-age">(05 Aug '11, 03:13)</span>
                <a class="comment-user userinfo" href="/users/1368/ignacio-rivera">Ignacio Rivera</a>
                
            </div>
        </div>
    
        <a name="5530"></a>
        <div class="comment" id="comment-5530">
            <div id="post-5530-score" class="comment-score"></div>
            <div class="comment-text"><p>What version of Wireshark is this?</p></div>
            <div class="comment-info" id="comment-5530-info">
                
                
                
                

                

                <span class="comment-age">(05 Aug '11, 09:23)</span>
                <a class="comment-user userinfo" href="/users/79/guy-harris">Guy Harris ♦♦</a>
                
            </div>
        </div>
    
        <a name="5531"></a>
        <div class="comment" id="comment-5531">
            <div id="post-5531-score" class="comment-score"></div>
            <div class="comment-text"><p>Version: 1.2.7</p></div>
            <div class="comment-info" id="comment-5531-info">
                
                
                
                

                

                <span class="comment-age">(05 Aug '11, 09:55)</span>
                <a class="comment-user userinfo" href="/users/1368/ignacio-rivera">Ignacio Rivera</a>
                
            </div>
        </div>
    
        <a name="5532"></a>
        <div class="comment" id="comment-5532">
            <div id="post-5532-score" class="comment-score"></div>
            <div class="comment-text"><p>And my OS is Ubuntu 10.04 i386 Desktop</p></div>
            <div class="comment-info" id="comment-5532-info">
                
                
                
                

                

                <span class="comment-age">(05 Aug '11, 09:56)</span>
                <a class="comment-user userinfo" href="/users/1368/ignacio-rivera">Ignacio Rivera</a>
                
            </div>
        </div>
    
        <a name="5562"></a>
        <div class="comment not_top_scorer" id="comment-5562">
            <div id="post-5562-score" class="comment-score"></div>
            <div class="comment-text"><p>Does this happen with newer versions of Wireshark?  1.2.7 is very old.</p>

<p>Is this a version you've built yourself (the "lt-wireshark" suggests it is)?  If so, have you modified it?</p></div>
            <div class="comment-info" id="comment-5562-info">
                
                
                
                

                

                <span class="comment-age">(07 Aug '11, 14:48)</span>
                <a class="comment-user userinfo" href="/users/79/guy-harris">Guy Harris ♦♦</a>
                
            </div>
        </div>
    
</div>
<div id="comment-tools-5405" class="comment-tools">
    
        <span class="comments-showing">
            showing 5 of 6
        </span>
        <a href="#" class="show-all-comments-link">show 1 more comments</a>
    
    
</div>




<div class="clear"></div>
<div id="comment-5405-form-container" class="comment-form-container">
    
</div>
<div class="clear"></div>



                        </div>

                    </td>
                </tr>
            </table>
            
            
                <hr/>
                <div class="tabBar">
                    <a name="sort-top"></a>
                    <div class="headQuestions">
                    One Answer:
                    </div>
                    
<div class="tabsA"><a href="/questions/5405/warning-click-over-display-filters-what-is-solution?sort=active" title="most recently updated answers/comments will be shown first">active answers</a><a href="/questions/5405/warning-click-over-display-filters-what-is-solution?sort=oldest" title="oldest answers will be shown first">oldest answers</a><a href="/questions/5405/warning-click-over-display-filters-what-is-solution?sort=newest" title="newest answers will be shown first">newest answers</a><a href="/questions/5405/warning-click-over-display-filters-what-is-solution?sort=votes" class="on" title="most voted answers will be shown first">popular answers</a></div>

                </div>
                

                
                    <a name="5570"></a>
                    <div id="answer-container-5570" class="answer ">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:30px;vertical-align:top">
                                    <div class="vote-buttons">
                                        

<a id="post-5570-upvote" title="I like this post (click again to cancel)"
    class="ajax-command post-vote up "
     href="/vote/5570/up/" rel="nofollow"> </a>
<div id="post-5570-score" class="post-score"
    title="current number of votes">
    0
</div>
<a id="post-5570-downvote" title="I dont like this post (click again to cancel)"
    class="ajax-command post-vote down"
     href="/vote/5570/down/" rel="nofollow"> </a>

                                        


    



                                    </div>
                                </td>
                                <td>
                                    <div class="item-right">
                                        <div class="answer-body">
                                            <p>The 1.2 branch is <a href="http://wiki.wireshark.org/Development/LifeCycle">no longer maintained by us</a>. If you need it fixed in Wireshark 1.2.7 in Ubuntu 10.04 you'll have to report there. </p>
<p>Anyway, the issue is not a big issue, an annoyance it is. </p>
<p>Wireshark releases have progressed to the 1.4 and now 1.6 branch, and even the 1.2 branch has seen 11 further (maintenance-)releases since 1.2.7. These have become <a href="https://launchpad.net/ubuntu/+source/wireshark">available</a> in newer Ubuntu releases.</p>
                                        </div>
                                        <div class="answer-controls post-controls">
                                            
<span class="action-link"><a rel="nofollow" title="answer permanent link" class="ajax-command withprompt  copy" href="/answer_link/5570/">permanent link</a></span>
                                            

                                        </div>
                                        <div class="post-update-info-container">
                                            
<div class='post-update-info post-update-info-user'>
    <p style="line-height:12px;">
        answered
        <strong>08 Aug '11, 02:55</strong>
    </p>
    <img class="gravatar" width="32" height="32" src="https://secure.gravatar.com/avatar/2337f0406681e5c72ea0e6f1f0d6c0b0?s=32&amp;d=identicon&amp;r=g" alt="Jaap's gravatar image" />
    <p><a href="/users/4/jaap">Jaap ♦</a><br/>
    <span class="score" title="11680 reputation points"><span class="">11.7k</span></span><span title="16 badges"><span class="silver">&#9679;</span><span class="badgecount">16</span></span><span title="101 badges"><span class="bronze">&#9679;</span><span class="badgecount">101</span></span><br />
    
    <span title="Rate of the user's accepted answers" class="accept_rate">accept rate:</span>
    <span title="Jaap has 155 accepted answers">14&#37;</span>
    </p>
</div>


                                        </div>
                                        




<div class="comments-container" id="comments-container-5570">
    
</div>
<div id="comment-tools-5570" class="comment-tools">
    
    
</div>




<div class="clear"></div>
<div id="comment-5570-form-container" class="comment-form-container">
    
</div>
<div class="clear"></div>



                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                
                <div class="paginator-container-left">
                    
                </div>
            
        <form id="fmanswer" action="/questions/5405/answer/" method="post">
            <input type='hidden' name='csrfmiddlewaretoken' value='iRSLzXSH7SpeIi0FcIsLeIfR5AieYrLA' />
            <div style="clear:both">
            </div>

            
                <div style="padding:10px 0 0 0;">
                    <div class="headNormal">
                        
                            Your answer
                        
                    </div>
                </div>
                

                <div id="description" class="" >
                    <div id="wmd-button-bar" class="wmd-panel"></div>
                    <textarea cols="40" id="editor" name="text" rows="10"></textarea>
                    <div class="preview-toggle">
                        <table width="100%">
                            <tr>
                                <td>
                                    <span id="pre-collapse" 
                                        title="Toggle the real time Markdown editor preview">
                                            toggle preview
                                    </span>
                                </td>
                                <td style="text-align: right;" id="editor-metrics"></td>
                                
                                <td style="text-align:right;">
                                    <input id="id_wiki" name="wiki" type="checkbox" /> 
                                    <span style="font-weight:normal;cursor:help" 
                                        title="if you choose community wiki option, the question and answer do not generate points and name of author will not be shown">
                                            <label for="id_wiki">community wiki:</label> 
                                    </span>
                                </td>
                                
                            </tr>

                        </table>
                    </div>
                    
                    <div id="previewer" class="wmd-preview"></div>
                </div>

                

                <p><span class="form-error"></span></p>
                <input type="button"
                    
                        value="Login/Signup to Post Your Answer" 
                    
                    class="submit" style="float:left" onclick="submitClicked(event, this.form)"/>
            
        </form>
    </div>
</div>


        </div>
        <div id="CARight">
            
<div class="boxC" id="subscription_box">
    <h3 class="subtitle">Follow this question</h3><strong>By Email:</strong><p>Once you sign in you will be able to subscribe for any updates here</p><strong>By RSS:</strong><p><a class="feed-icon" style="background-image:url('/m/default/media/images/feed-icon-small.png');"
        href="/questions/5405/warning-click-over-display-filters-what-is-solution?type=rss" title="subscribe to answers"></a>
    Answers
</p><p><a class="feed-icon" style="background-image:url('/m/default/media/images/feed-icon-small.png');"
        href="/questions/5405/warning-click-over-display-filters-what-is-solution?type=rss&comments=yes" title="subscribe to comments and answers"></a>
    Answers and Comments
</p>

</div>


<div class="boxC" id="editor_side_bar">
    <p class="subtitle darkred">Markdown Basics</p>
    <ul class="list-item">
        <li>
            *italic* or _italic_
        </li>
        <li>
			**bold** or __bold__
        </li>
        <li>
            <b>link</b>:[text](http://url.com/ "title")

        </li>

        <li>
            <b>image</b>?![alt text](/path/img.jpg "title")

        </li>
        <li>
			numbered list:
            1.  Foo
            2.  Bar
        </li>
        <li>
			to add a line break simply add two spaces to where you would like the new line to be.
        </li>
        <li>
			basic HTML tags are also supported
        </li>
    </ul>
    <p class='info-box-follow-up-links'>
        <a href="/markdown_help/" target="_blank">learn more about Markdown </a>
    </p>
</div>



<div id="sidebar-upper" class="boxC">
    <div class="body">
        <h2>You have a trillion packets.</h2>
<h3>You need to see four of them.</h3>
<p><a href="http://www.riverbed.com/products-solutions/products/network-performance-management/">Riverbed Technology</a> lets you seamlessly move between packets and flows for comprehensive monitoring, analysis and troubleshooting.</p>
<p><a href="http://www.riverbed.com/us/products/cascade/wireshark_enhancements/"><img style="margin-left: 39px;" src="https://www.wireshark.org/image/logo_riverbed_150.png"></a></p>
<p>Riverbed is Wireshark's primary sponsor and provides our funding.</p>
     </div>
</div>




<div class="boxC">
    <p>
        Question tags:
    </p>
    <p class="tags" >
        
        <a href="/tags/ubuntu/"
            class="tag-link-ubuntu"
            title="see questions tagged'ubuntu'using tags"
            rel="tag">ubuntu</a> <span class="tag-number">&#215;80</span><br/>
        
        <a href="/tags/warning/"
            class="tag-link-warning"
            title="see questions tagged'warning'using tags"
            rel="tag">warning</a> <span class="tag-number">&#215;4</span><br/>
        
    </p>
    <p>
        question asked: <strong title="Aug. 2, 2011, 9:57 a.m.">02 Aug '11, 09:57</strong>
    </p>
    <p> 
     	question was seen: <strong>2,848 times</strong>
    </p>
    <p> 
        last updated: <strong title="Aug. 8, 2011, 2:55 a.m.">08 Aug '11, 02:55</strong>
    </p>
</div>


<div id="sidebar-lower" class="boxC">
    <div class="body">
        <h2>Don't have Wireshark?</h2>
<p>What are you waiting for? It's free! Wireshark documentation and downloads can be found at the <a href="https://www.wireshark.org/"><strong>Wireshark web site</strong></a>.</p>
     </div>
</div>


<div class="boxC">
    <h3 class="subtitle">Related questions</h3>
    <div class="questions-related">

        
        <p>
            <a href="/questions/82/can-wireshark-monitor-bandwidth-usage-per-applicationprocess">Can Wireshark monitor bandwidth usage per application/process?</a>
        </p>
        
        <p>
            <a href="/questions/12548/wireshark-180-with-ethernet-lan-tap">Wireshark 1.8.0 with ethernet lan tap</a>
        </p>
        
        <p>
            <a href="/questions/25134/upgraded-ubuntu-tons-of-tcp-acked-lost-segment-and-other-errors">upgraded Ubuntu, tons of &#39;TCP ACKed lost segment&#39; and other errors...</a>
        </p>
        
        <p>
            <a href="/questions/37749/running-wireshark-as-normal-user-in-ubuntu">Running WireShark as normal user in Ubuntu</a>
        </p>
        
        <p>
            <a href="/questions/55503/wireshark-cannot-see-wireless-interface-on-ubuntu-on-virtual-machine">Wireshark cannot see wireless interface on Ubuntu on virtual machine</a>
        </p>
        
        <p>
            <a href="/questions/48314/preference-warnings-during-wireshark-launch-after-linux-os-upgrade-from-suse-sp2-to-sp3">Preference warnings during Wireshark launch after Linux OS upgrade from SUSE SP2 to SP3</a>
        </p>
        
        <p>
            <a href="/questions/380/wireshark-not-recognizing-atheros-on-ubuntu-1004">Wireshark not recognizing Atheros on Ubuntu 10.04</a>
        </p>
        
        <p>
            <a href="/questions/14267/block-sniffing-on-ports-ubuntu">Block sniffing on ports - UBUNTU</a>
        </p>
        
        <p>
            <a href="/questions/27797/ubuntu-software">[closed] Ubuntu software</a>
        </p>
        
        <p>
            <a href="/questions/38602/wireshark-run-under-ubuntu-some-errors">Wireshark run under ubuntu some errors</a>
        </p>
        

    </div>
</div>



        </div>
        <div id="tail" style="clear:both;">
            
            
        </div>
    </div>
    <div class="spacer3"></div>
</div>

        
            <div id="ground">
                


<div>
    <div class="footerLinks" >
         <a href="/about/" >about</a> <span class="link-separator"> |</span> <a href="/faq/" >faq</a> <span class="link-separator"> |</span> <a href="/privacy/" >privacy</a> <span class="link-separator"> |</span> <a href="https://bugs.wireshark.org/" target="_blank">support</a> <span class="link-separator"> |</span> <a href="https://bugs.wireshark.org/" >contact</a> 
    </div>
  <p>
        p&#8203;o&#8203;w&#8203;e&#8203;r&#8203;e&#8203;d by &#79;&#8203;&#83;&#8203;&#81;&#8203;&#65;
  </p>
</div>
 <div id="licenseLogo">
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
            <img src="/m/default/media/images/by-sa-88x31.png" title="Creative Commons: Attribution - Share Alike" alt="cc-by-sa" width="88" height="31" />
  </a>
 </div>


            </div>
        
        

        
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-605389-6']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        
        </div>

        <!-- Put all elements with fixed position here, IE6 fixed position fix: http://ryanfait.com/position-fixed-ie6/ -->
        <div class="notify" style="display:none">
            
                
                    
                          <p class="darkred">First time here? Check out the <a href="/faq/">FAQ</a>!</p>
                    
                
            
            <a id="close-notify" onclick="notify.close(true)">&#215;</a>
        </div>
    </body>
</html>
<!-- end template base_content.html -->
